<h1><%= @recipe.title %></h1>
<%= image_tag @recipe.picture %>
<h4>Category: <%= @recipe.category %></h4>
<p><strong>Description</strong><br><%= @recipe.description %></p>
<p><strong>Directions:</strong><br><%= @recipe.directions %></p>
<p><a href="http://localhost:3000/users/edit">No likey emails? Unsubscribe!</a> </p>

