<% if current_user.try(:admin?)%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @newsletter.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @newsletter.author %>
</p>

<p>
  <strong>Content:</strong>
  <%= @newsletter.content %>
</p>

<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path %>

    <% else %>

<% end %>