<p id="notice"><%= notice %></p>
<%= link_to 'Back', recipes_path, :class => "to_hide" %> <br />

<% @recipes.each do |recipe| %>
    <% @username = User.find(recipe.user_id).username %>
    <% @recipe_id = recipe.id %>
<% end %>

<!-- the FACEBOOK BUTTONS here .... need to change the website  -->

<% @facebook_string = "http://104.236.148.61/recipes/" + @recipe.id.to_s %>
<!--<h5><%# @facebook_string %></h5>-->

<div id="fb_div" class="fb-like to_hide" data-href="<%= @facebook_string %>" data-width="352" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<!-- Twitter Button -->
<div><a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="repeateats">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>

<!-- Pinterest Button -->
<div><a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
  <!-- Please call pinit.js only once per page -->
  <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script></div>

<%= link_to "Favorite this", "/favorites/#{@recipe.id}", :class => "link" %>
<p><%= @recipe.title %> has been favorited <strong><%= @shared_count %></strong> times</p>



<div class="col-md-12 text-center show_page">

  <figure class="text-center">
    <%= image_tag @recipe.picture %>
  </figure>

  <h2><%= @recipe.title %></h2>

  <p><strong>Recipe by: </strong><%= @username %></p>

  <p>
    <strong>Prepare time: </strong><%= @recipe.prepare_time %> minutes
    <strong>Cook time:</strong><%= @recipe.cook_time %> minutes
  </p>

  <p><strong>Category: </strong><%= @recipe.category %></p>

  <p><strong>Serving size: </strong><%= @recipe.serving_size %></p>

  <p><strong>Ingredients: </strong><%= @recipe.ingredients %></p>

  <p><strong>Directions: </strong><%= @recipe.directions %></p>

  <% if is_admin? %>
      <%= link_to 'Edit', edit_recipe_path(@recipe), :class => 'btn btn-default to_hide' %>
  <% end %>

</div>

<div class="comments">
  <!-- comments -->
  <table class="table table-striped">
    <h3>Comments</h3>

    <% @recipe.recipe_comments.each do |recipe| %>
        <tr>
          <td>
            <% if recipe.rating > 1 %>
                <% rating = recipe.rating / 2 %>
            <% else %>
                <% rating = 1 %>
            <% end %>

            <div class="col-md-2">
              <%= image_tag recipe.image, class: "avatar img-responsive img-circle" %>
              <h4><%= recipe.author %></h4>

              <%= (image_tag("star.png", :class => "star") * recipe.rating).html_safe %>
            </div>

            <div class="col-md-10">
              <%= (recipe.opinion).html_safe %>
            </div>

          </td>
        </tr>
    <% end %>

  </table>
</div>

<div class="comments">

  <% if !user_signed_in? %>
      <%= link_to 'Login to post a comment', new_user_session_path %>
  <% end %>

  <!--  Comment form -->
  <% if user_signed_in? %>

      <div class="col-md-12">

        <h3>Leave a comment</h3>

        <%= form_for([@recipe, @recipe.recipe_comments.build]) do |f| %>

            <div class="field form-group">
              <%= f.hidden_field :author, :value => current_user.username %>
            </div>

            <div class="field form-group">
              <%= f.text_area :opinion, class: "form-control tinymce", :escape => false %>
            </div>

            <%= tinymce %>

            <div class="field form-group">
              <%= f.label :rating %>
              <%= f.select :rating, options_for_select(1..5), class: "form-control" %>
            </div>
            <%= f.hidden_field :recipe_id %>
            <div class="actions form-group">
              <br>
              <%= f.submit 'Add Comment', :class => 'btn btn-success' %>
            </div>

        <% end %>

      </div>
  <% end %>
</div>

<div class="page_break"></div>
