<p id="notice"><%= notice %></p>
<%= link_to 'Back', recipes_path, :class => "to_hide" %> <br/> <br/>

<% @recipes.each do |recipe| %>
    <% @username = User.find(recipe.user_id).username %>
    <% @recipe_id = recipe.id %>
<% end %>

<% @facebook_string = "http://104.236.148.61/recipes/" + @recipe.id.to_s %>

<p><strong><%= @recipe.title %></strong> has been favorited
  <% if @shared_count.nil? %>
      <strong>0</strong> times</p>
  <% else %>
      <strong><%= @shared_count %></strong> times</p>
  <% end %>

  <div class="show_page">
    <div class="row">

      <figure class="col-md-4">
        <%= image_tag @recipe.picture, :class => "text-center" %><br/> <br/>

        <%= link_to "Favorite this", "/favorites/#{@recipe.id}", :class => "btn btn-primary" %><br/><br/>

        <div id="fb_div" class="fb-like to_hide" data-href="
        <%= @facebook_string %>" data-width="352" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
        </div>

        <!-- Twitter Button -->
        <div><a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="repeateats">Tweet</a>
          <script>!function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
              if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + '://platform.twitter.com/widgets.js';
                  fjs.parentNode.insertBefore(js, fjs);
              }
          }(document, 'script', 'twitter-wjs');</script>
        </div>

        <!-- Pinterest Button -->
        <div><a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
          <!-- Please call pinit.js only once per page -->
          <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script></div>

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <div class="g-plus" data-action="share" ... ></div>
      </figure>

      <div class="col-md-4">
        <h2><%= @recipe.title %></h2>

        <p><strong>Recipe by: </strong><%= @username %></p>

        <p>
          <strong>Prepare time: </strong><%= @recipe.prepare_time %> minutes
          <strong>Cook time: </strong><%= @recipe.cook_time %> minutes
        </p>

        <p><strong>Category: </strong><%= @recipe.category %></p>

        <p><strong>Serving size: </strong><%= @recipe.serving_size %></p>
      </div>

      <div class="col-md-4">
        <strong>Description:</strong>

        <p><%= @recipe.description %></p>
      </div>

    </div>
    <br/>

    <div>
      <p><strong>Ingredients: </strong><%= @recipe.ingredients %></p>

      <p><strong>Directions: </strong><%= @recipe.directions %></p>
    </div>
    <br/>
    <% if ! @recipe.youtube.nil?%>
    <div>
      <iframe width="420" height="315" src="http://www.youtube.com/embed/<%= @recipe.youtube %>" frameborder="0" allowfullscreen></iframe>
    </div>
    <% end%>

    <% if is_admin? %>
        <%= link_to 'Edit', edit_recipe_path(@recipe), :class => 'btn btn-default to_hide' %>
    <% end %>
  </div>

  <div class="comments">
    <!-- comments -->
    <table class="table table-striped">
      <h3>Comments</h3>

      <% @recipe.recipe_comments.each do |recipe| %>
          <tr>
            <td>
              <% if recipe.rating > 1 %>
                  <% rating = recipe.rating / 2 %>
              <% else %>
                  <% rating = 1 %>
              <% end %>

              <div class="col-md-2">
                <%= image_tag recipe.image, class: "avatar img-responsive img-circle" %>
                <h4><%= recipe.author %></h4>

                <%= (image_tag("star.png", :class => "star") * recipe.rating).html_safe %>
              </div>

              <div class="col-md-10">
                <%= (recipe.opinion).html_safe %>
              </div>

            </td>
          </tr>
      <% end %>

    </table>
  </div>

  <div class="comments">

    <% if !user_signed_in? %>
        <%= link_to 'Login to post a comment', new_user_session_path %>
    <% end %>

    <!--  Comment form -->
    <% if user_signed_in? %>

        <div class="col-md-12">

          <h3>Leave a comment</h3>

          <%= form_for([@recipe, @recipe.recipe_comments.build]) do |f| %>

              <div class="field form-group">
                <%= f.hidden_field :author, :value => current_user.username %>
              </div>

              <div class="field form-group">
                <%= f.text_area :opinion, class: "form-control tinymce", :escape => false %>
              </div>

              <%= tinymce %>

              <div class="field form-group">
                <%= f.label :rating %>
                <%= f.select :rating, options_for_select(1..5), class: "form-control" %>
              </div>

              <div class="field form-group">
<!--                <%# f.label :image %>
                <%# f.image :image, class: "form-control" %>-->

                <% image_tag current_user.avatar.url, class: "avatar img-responsive img-circle" %>
                <%= f.hidden_field :image, :value => current_user.avatar.url %>
              </div>

              <%= f.hidden_field :recipe_id %>
              <div class="actions form-group">
                <br>
                <%= f.submit 'Add Comment', :class => 'btn btn-success' %>
              </div>

          <% end %>

        </div>
    <% end %>
  </div>

  <div class="page_break"></div>
