<p id="notice"><%= notice %></p>

<h2 class="text-center">
  <%= @recipe.title %>
</h2>
<% @recipes.each do |recipe| %>
    <% @username = User.find(recipe.user_id).username %>
<% end %>

<p class="text-center">
  <strong>Recipe by: </strong><%= @username %>
</p>
<p class="text-center">
  <strong>Prepare time: </strong><%= @recipe.prepare_time %> minutes
  <strong>Cook time:</strong><%= @recipe.cook_time %> minutes
</p>

<p class="text-center">
  <strong>Category: </strong><%= @recipe.category %>
</p>
<p class="text-center">
  <strong>Serving size: </strong><%= @recipe.serving_size %>
</p>

<div class="row">
  <div class="col-md-12">
    <%= image_tag @recipe.picture, class: "img-responsive img-rounded center image-show" %>
  </div>
</div>

<p>
  <strong>Ingredients: </strong><%= @recipe.ingredients %>
</p>

<p>
  <strong>Directions: </strong><%= @recipe.directions %>
</p>






<% if user_signed_in? %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %><% end %>
<%= link_to 'Back', recipes_path %>

<%= form_for([@recipe, @recipe.recipe_comments.build]) do |f| %>

    <div class="field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>


    <div class="field">
      <%= f.label :opinion %>
      <%= f.text_area :opinion, class: "tinymce" %>
    </div>

    <div class="field">
      <%= f.label :rating %>
      <%= f.select :rating, options_for_select(1..5) %>
    </div>
    <%= f.hidden_field :recipe_id %>
    <div class="actions">
      <br>
      <%= f.submit %>
    </div>
<% end %>
