<%= form_for(@recipe_comment) do |f| %>
  <% if @recipe_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_comment.errors.count, "error") %> prohibited this recipe_comment from being saved:</h2>

      <ul>
      <% @recipe_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_id %><br>
    <%= f.number_field :recipe_id %>
  </div>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>

    <div class="field form-group">
      <%= f.text_field :image, :value => current_user.avatar_file_name %>
    </div>

  <div class="field">
    <%= tinymce %>
    <%= f.label :opinion %><br>
    <%= f.text_area :opinion, :class => 'tinymce', :rows => 10, :cols => 120 %>
  </div>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
