<h1>Listing recipe_comments</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Author</th>
      <th>Opinion</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_comments.each do |recipe_comment| %>
      <tr>
        <td><%= recipe_comment.recipe_id %></td>
        <td><%= recipe_comment.author %></td>
        <td><%= recipe_comment.opinion %></td>
        <td><%= recipe_comment.rating %></td>
        <td><%= link_to 'Show', recipe_comment %></td>
        <td><%= link_to 'Edit', edit_recipe_comment_path(recipe_comment) %></td>
        <td><%= link_to 'Destroy', recipe_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe comment', new_recipe_comment_path %>
