<p id="notice"><%= notice %></p>
<%= link_to 'Back', products_path, :class => "to_hide" %>

<div class="fb-like" data-href="http://localhost:3000/products/37" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<div class="col-md-12 text-center show_page">

  <figure>
    <%= image_tag @product.image %>
  </figure>

  <h2><%= @product.name %></h2>

  <p class="text-justify"><%= @product.description.html_safe %></p>

  <p><strong>Quantity: </strong><%= @product.quantity %></p>

  <p><strong>Price: </strong><%= number_to_currency(@product.price) %></p>

  <p><strong>Weight: </strong><%= number_with_precision(@product.weight, precision: 2) + " lbs" %></p>

  <% if is_admin? %>
      <%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-default to_hide' %>
  <% end %>

</div>


<div class="comments">
  <% @product.reviews.each do |review| %>
      <p><strong><%= review.author %></strong> said:</p>

      <p><%= review.comment %></p>

      <%= (image_tag('star.jpg', height: '15', width: '15') * review.rating).html_safe %> <br/>
      <% if is_admin? %>
          <%= link_to 'Remove', product_review_path(@product, review), method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
      <hr>
  <% end %>

  <% if !user_signed_in? %>
      <%= link_to 'Login to post review', new_user_session_path %>
  <% end %>

  <% if user_signed_in? %>
      <%= form_for([@product, @product.reviews.build]) do |f| %>
          <%= f.hidden_field :product_id %>
          <%= f.hidden_field :author, :value => current_user.username %>

          <div class="field">
            <%= f.label :comment %><br>
            <%= f.text_area :comment %>
          </div>

          <div class="field">
            <%= f.label :rating %><br>
            <%= f.select :rating, options_for_select(1..5) %>
          </div>
          <br/>

          <div class="actions">
            <%= f.submit %>
          </div>

      <% end %>
  <% end %>
</div>

